@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web.UI.WebControls
@using System.Xml
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var lp = 1;
    foreach (NBrightInfo x in Model.List)
    {
        <div class="fileselectitem imageselectitem" fname="@x.GetXmlProperty("genxml/hidden/filename")" name="@x.GetXmlProperty("genxml/hidden/name")" selectorcount="@(lp)">
          <div class="overlayicons"><span class="glyphicon glyphicon-ok-sign fileselector@(lp) allow1selection" style="display:none;"></span></div>
          <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?w=140&h=140&src=@x.GetXmlProperty("genxml/hidden/imageurl")" class="img-thumbnail" />
        </div>
        lp += 1;
    }
}