@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<div>
    <div>
        @DnnLabel("lblsourcepage", "Settings.sourcepage")@TabSelectList(info, "genxml/dropdownlist/sourcepage","class='form-control'",true)
    </div>
</div>

