obj/
packages/
Themes/SecureHoliday/
Themes/config/bootstrap/
Themes/config/font-awesome/
Installation/NBrightMod_Resources.zip
.vs/NBrightMod/v15/sqlite3/storage.ide
.vs/config/applicationhost.config
.vs/
Themes/
!Themes/config/
!Themes/shared/
bin/
*.zip
