@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@{
    var info = (NBrightInfo)Model.List.First();
}

@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "OwlSliderSat.view.cshtml" + info.ModuleId)

<div class="topimageheader">

    @foreach (NBrightInfo infoitem in Model.List)
        {
        var imageurl = infoitem.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
        if (imageurl != "")
        {
        var title = infoitem.GetXmlProperty("genxml/lang/genxml/textbox/title");
        <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=1154&h=575" alt="@(title)"/>
        }
        }

</div>