
<!-- NBrightMod specific css and js -->
<script type="text/javascript" src="/DesktopModules/NBright/NBrightMod/Themes/config/js/jquery.multilevelpushmenu.min.js"></script>
<script type="text/javascript" src="/DesktopModules/NBright/NBrightMod/Themes/config/js/Themes.js"></script>
<link href="/DesktopModules/NBright/NBrightMod/Themes/config/css/NBrightMod.css" rel="stylesheet" />
<link href="/DesktopModules/NBright/NBrightMod/Themes/config/css/jquery.multilevelpushmenu.css" rel="stylesheet" />

<!-- Load these scripts to use nbrightajax functions -->
<script type="text/javascript" src="/DesktopModules/NBright/NBrightMod/Themes/config/js/nbrightajax.js"></script>
<script type="text/javascript" src="/DesktopModules/NBright/NBrightData/js/jquery.genxmlajax.js"></script>

<!-- Add nbright full standard version of bootstrap -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css" rel="stylesheet" />

<!-- loading display to cover buttons, to stop multiple clicks -->
<div id="loader" class="processing" style="display:none;"><i class="glyphicon glyphicon-cog"></i></div>

<!-- code mirror -->
<script type="text/javascript" src="/Resources/Shared/components/CodeEditor/lib/codemirror.js"></script>
<script type="text/javascript" src="/Resources/Shared/components/CodeEditor/mode/htmlmixed/htmlmixed.js"></script>
<script type="text/javascript" src="/Resources/Shared/components/CodeEditor/mode/xml/xml.js"></script>

<link href="/Resources/Shared/components/CodeEditor/lib/codemirror.css" rel="stylesheet" />

<style>
    .CodeMirror {
        border: solid 1px #666;
        height: 400px !important;
    }
</style>
