/* Calendar CSS */

/* Datepicker */
.ui-datepicker {font-size:16px !important;}
.ui-datepicker-header {margin-bottom:3px;}
.ui-datepicker-calendar td span {border:#ebebeb solid 1px;background:#fcfcfc !important;color:#bebebe;text-align:right !important;}
.ui-state-default {border:#ebebeb solid 1px !important;background:#fcfcfc !important;color:#bebebe !important;text-align:right !important;}
.ui-state-active {background:#d9534f !important;color:white !important;}
span.ui-datepicker-other-month {color:white !important;border:transparent solid 1px !important;}

/* Layout */
.entryitem {margin-bottom:40px;}
.calendarmsg {clear:both;font-size:12px;font-style:italic;}