@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@{
    var info = (NBrightInfo)Model.List.First();
}

<div>
    <div>
        @DnnLabel("lblimgresize", "Settings.imgresize")@NBrightTextBox(info, "genxml/textbox/imgresize","class='form-control' width='100px' maxlength='5' ","1154")
    </div>
    <div>
        @DnnLabel("lblwidth","Settings.width")@NBrightTextBox(info, "genxml/textbox/width","class='form-control' width='100px' maxlength='5' ","1154")
    </div>
    <div>
        @DnnLabel("lblheight", "Settings.height")@NBrightTextBox(info, "genxml/textbox/height", "class='form-control' width='100px' maxlength='5' ", "575")
    </div>
       
    <div style="display:none">
        <!-- set flag so upload of files replaces the current selected -->
        @CheckBox(info, "genxml/checkbox/replaceimages", "", "",true);
    </div>
 


</div>

