/* CONTACT FORM */
.contactform {margin-bottom:20px;}
.contactform input {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.contactform ul li {background:none !important;padding-left:0 !important;margin-bottom:0 !important;}
.contactformfields:after {content:"";display:table;clear:both;}
.contactformfields input[type="text"], .contactformfields input[type="email"], .contactformfields select {margin-bottom:3px;border:1px solid #d1d1d1;height:34px;padding-left:6px;color:#595959;font-family:Segoe UI, Arial, Helvetica;}
.contactformfields textarea {margin-bottom:6px;border:1px solid #d1d1d1;padding:6px;color:#595959;font-family:Segoe UI, Arial, Helvetica;}
.requiredfield {display:inline-block;position:relative;}
.requiredfield input {background:white url(../img/asterisk.png) no-repeat center right;}
.requiredfield span {position:absolute;top:8px;right:5px;text-indent:-9000px;display:block;width:16px;height:16px;background:white url(../img/invalid.png) no-repeat;}
.cf-col {float:left;margin-right:12px;}
.cf-reqmessage {font-style:italic;font-size:12px;line-height:14px;}
.formerror {color:#d45252 !important;}
/* overwrite default.css */
.dnnLabel {
    display: block;
    float: none;
    width: auto;
    padding-right: 0;
    margin-right: 0;
    text-align: left;
}