/* FLAT FORM */
.contactform {margin:20px 0;}
.contactform * {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.cff-100 {display:flex;}
.cff-50 {flex:1;margin:0 4% 0 0;}
.cff-100 div:last-child {margin:0;}
.contactformfields {margin:0 0 40px 0;}
.contactformfields label {display:block;text-transform:uppercase;font-size:14px;margin:20px 0 8px 0;}
.contactformfields input[type=text], .contactformfields input[type=email] {border:1px solid #ddd;height:50px;padding:0 15px;color:#747474;font:inherit;}
.contactformfields textarea {border:1px solid #ddd;padding:15px;color:#747474;font:inherit;}
.contactformfields input[type=text], .contactformfields input[type=email], .contactformfields textarea {width:100%;}

/* JQuery Validate */
input.error {background:#ffd9d9 !important;}
label.error {color:#d45252;line-height:14px;margin:8px 0 0 0;text-transform:none;}
label.error:before {font-family:'FontAwesome';content:"\f06a";margin-right:8px;}

/* Loading */
.spinner {
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* for 640px and less */
@media screen and (max-width:640px) {
.cff-100 {display:block;}
.cff-50 {flex:0;margin:0;}
}