@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using NBrightDNN

<!-- div section to display ajax return -->
<div id="editdata" class="NBM"></div>

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/editbodyadmin.cshtml", Model)