@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<div>
    <div>
        @DnnLabel("lblimgindex", "Settings.lblimgindex")@TextBox(info, "genxml/textbox/imgindex", "class='form-control' width='50px' maxlength='2' ","1")
    </div>
</div>

