@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "FlexsiderSat.view.cshtml", Model.ModuleId.ToString(""))

<div class="topimageheader">

    @{
        var info = (NBrightInfo)Model.List.First();
        var imageurl = info.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
        if (imageurl != "")
        {
            var title = info.GetXmlProperty("genxml/lang/genxml[1]/textbox/title");
            <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=1154&h=200" alt="@(title)" />
        }
    }

</div>