@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System
@using System.Linq
@using NBrightCore.common
@using NBrightDNN

@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", Model.GetSetting("themefolder") + ".view.cshtml", Model.ModuleId.ToString(""))

<div class="topimageheader">

    @{
        var imgindex = Model.GetSetting("imgindex");
        var info = (NBrightInfo)Model.List.First();
        if (Utils.IsNumeric(imgindex))
        {
            if (Model.List.Count >= Convert.ToInt32(imgindex))
            {
                info = (NBrightInfo)Model.List[Convert.ToInt32(imgindex) -1];
            }
        }

        var imageurl = info.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
        if (imageurl != "")
        {
            var title = info.GetXmlProperty("genxml/lang/genxml[1]/textbox/title");
            <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=1154&h=200" alt="@(title)"/>
        }
    }

</div>