@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<div>
    <div>
        @DnnLabel("lblimgresize", "Settings.imgresize")@TextBox(info, "genxml/textbox/imgresize", "class='form-control' maxlength='5'", "800")
    </div>
    <div>
        @DnnLabel("lbllayout", "Settings.layout")@DropDownList(info, "genxml/dropdownlist/columns", "1,2,3,4","standard,2 colonnes,3 colonnes,4 colonnes", "class='form-control' width='100px' ", "true")
    </div>

</div>
 
