@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@AddMetaData("resourcepath",GetTemplateRelPath("Theme.ascx.resx", Model, "resx").ToString())

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<div>
  @DnnLabel("lblcoloredversion","Theme.coloredversion")@CheckBox(info,"genxml/checkbox/colored","","",true)
</div>