@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using NBrightDNN

<!-- div section to display ajax return -->
<div id="editdata" class="NBM"></div>

@{
  Model.Settings.Add("replacefiles","true");
}

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/editbodyadmin.cshtml", Model)