@using NBrightDNN


<div id="NBrightMod[Settings:modref]" class="owl-carousel">

    @foreach (NBrightInfo x in Model)
    {
        var imageurl = x.GetXmlProperty("genxml/imgs/genxml[[1]]/hidden/imageurl");
        <div class="item">
            @if (imageurl != "")
            {
                <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=[Settings:width]&h=[Settings:height]" alt="@x.GetXmlProperty("genxml/lang/genxml/textbox/title")"/>
            }
            @if (!x.GetXmlPropertyBool("genxml/checkbox/hidedescription"))
            {
                <span class="owl-carousel-caption">@HtmlOf(x, "genxml/lang/genxml/textbox/infodesc")</span>
            }
        </div>
    }
</div>

<script type="text/javascript">
    $(window).load(function () {

        $('#NBrightMod[Settings:modref]').owlCarousel({
            animateOut: '[Settings:animateout]',
            animateIn: '[Settings:animatein]',
            loop: [Settings:loop],
            autoplay: [Settings:autoplay],
            margin: [Settings:margin],
            items: [Settings:items],
            center: [Settings:center],
            smartSpeed: [Settings:smartspeed]
        });

    });
</script>
